<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
              <a href="kantor-pajak" class="d-grid gap-2 btn btn-primary">Kantor Pajak</a>
            </div>
          </div>
        <!-- <div class="col text-center">
            <img src="img/tgn.png" alt="Teknologi Garuda Nusantara" class="img-thumbnail
            rounded-circle" width="200" />
            <h1 class="display-4">PT Teknologi Garuda Nusantara</h1>
            <p class="lead">Internet-of-Things (IoT) Sector | Expertise in Hardware Design | Software Development for Electronic Data Capture Systems</p>
        </div> -->
    </div>
</div>
