<div class="container">
  <div class="row">
        <div class="col-md-6 col-lg-12">
          <div class="main-card mb-3 card">
            <div class="card-body">
              <h5 class="card-title"><b>Instansi Pajak Daerah</b></h5>
              <form class="">
                <br />
                <div class="form-row">
                  <div class="col-md-9">
                    <div class="position-relative form-group">
                      <label for="exampleEmail11" class=""
                        >Nama Pemerintah Daerah</label
                      ><input
                        name="email"
                        id="exampleEmail11"
                        placeholder="with a placeholder"
                        type="email"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="position-relative form-group">
                      <label for="examplePassword11" class=""
                        >Tanggal Rekam</label
                      ><input
                        name="password"
                        id="examplePassword11"
                        placeholder="password placeholder"
                        type="password"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-9">
                    <div class="position-relative form-group">
                      <label for="exampleEmail11" class=""
                        >Kode Pemerintah Daerah</label
                      ><input
                        name="email"
                        id="exampleEmail11"
                        placeholder="with a placeholder"
                        type="email"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="position-relative form-group">
                      <label for="examplePassword11" class=""
                        >Tanggal Muktakhir</label
                      ><input
                        name="password"
                        id="examplePassword11"
                        placeholder="password placeholder"
                        type="password"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-12">
                    <div class="position-relative form-group">
                      <label for="exampleEmail11" class=""
                        >Nomenklatur Instansi Pajak Daerah</label
                      ><input
                        name="email"
                        id="exampleEmail11"
                        placeholder="with a placeholder"
                        type="email"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-8">
                    <div class="position-relative form-group">
                      <label for="exampleCity" class="">Alamat</label
                      ><input
                        name="city"
                        id="exampleCity"
                        type="text"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="position-relative form-group">
                      <label for="exampleState" class="">Kota/Kab</label
                      ><input
                        name="state"
                        id="exampleState"
                        type="text"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="position-relative form-group">
                      <label for="exampleZip" class="">Kode Pos</label
                      ><input
                        name="zip"
                        id="exampleZip"
                        type="text"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <br /><br />
                <h5 class="card-title">
                  <b>Pimpinan Instansi Pajak Daerah</b>
                </h5>
                <br />
                <div class="form-row">
                  <div class="col-md-12">
                    <div class="position-relative form-group">
                      <label for="exampleEmail11" class=""
                        >Nama Kepala Instansi</label
                      ><input
                        name="email"
                        id="exampleEmail11"
                        placeholder="with a placeholder"
                        type="email"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="position-relative form-group">
                      <label for="exampleEmail11" class="">Nomor Telepon</label
                      ><input
                        name="email"
                        id="exampleEmail11"
                        placeholder="with a placeholder"
                        type="email"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="position-relative form-group">
                      <label for="exampleEmail11" class="">Alamat Email</label
                      ><input
                        name="email"
                        id="exampleEmail11"
                        placeholder="with a placeholder"
                        type="email"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <br />
                <div class="form-row">
                  <div class="col-md-9">
                    <div class="position-relative row form-group">
                      <label for="exampleFile" class="col-sm-4 col-form-label"
                        >Logo Pemerintah Daerah</label
                      >
                      <div class="col-sm-5">
                        <input
                          name="file"
                          id="exampleFile"
                          type="file"
                          class="form-control-file"
                        />
                        <small class="form-text text-muted"
                          >This is some placeholder block-level help text for
                          the above input. It's a bit lighter and easily wraps
                          to a new line.</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="position-relative row form-group">
                      <label for="exampleFile" class="col-sm-4 col-form-label"
                        >Foto Kantor Instansi Pajak Daerah</label
                      >
                      <div class="col-sm-5">
                        <input
                          name="file"
                          id="exampleFile"
                          type="file"
                          class="form-control-file"
                        />
                        <small class="form-text text-muted"
                          >This is some placeholder block-level help text for
                          the above input. It's a bit lighter and easily wraps
                          to a new line.</small
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <button class="mt-2 btn btn-primary">Kirim</button>
              </form>
            </div>
          </div>
        </div>
  </div>
</div>
